<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="five_bar_wheel_leg_balance_car">
    <xacro:include filename="$(find car)/model/car.urdf" />

    <ros2_control name="car_system" type="system">
        <hardware>
            <plugin>lqr_controller/RealHardware</plugin>
        </hardware>

        <joint name="left_front_hip_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <command_interface name="effort" />
            <command_interface name="kp" />
            <command_interface name="kd" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="left_rear_hip_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <command_interface name="effort" />
            <command_interface name="kp" />
            <command_interface name="kd" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="left_wheel_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <command_interface name="effort" />
            <command_interface name="kp" />
            <command_interface name="kd" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="right_front_hip_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <command_interface name="effort" />
            <command_interface name="kp" />
            <command_interface name="kd" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="right_rear_hip_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <command_interface name="effort" />
            <command_interface name="kp" />
            <command_interface name="kd" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="right_wheel_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <command_interface name="effort" />
            <command_interface name="kp" />
            <command_interface name="kd" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
    </ros2_control>
</robot>
